//
//  Config.xcconfig
//  JalaliCalendar
//
//  Created by Armin on 8/24/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: - App versions
CONFIG_APP_VERSION = 3.1.0
CONFIG_APP_BUNDLE_VERSION = 6

// MARK: - App display name
CONFIG_APP_NAME = Jalali Calendar
CONFIG_WIDGET_NAME = JalaliCalendarWidget

// MARK: - App Bundle Identifier
CONFIG_BUNDLE_ID = com.shalchian.JalaliCalendar.app
CONFIG_DEV_TEAM = YB99NQ76R5
